.w3-dropdown-content.w3-card-4 {
  z-index: 1000;
}

.w3-container-fluid {
    position: absolute;
    width: 100vw;
}
header.w3-bar {
  margin: 0px; justify-content: right; z-index: 2; overflow: visible;
}

.w3-modal-content.w3-card-4.w3-animate-zoom {
 max-width: 90vw; min-width: 400px; margin: 0 auto;
}
.w3-modal-content {
  max-width: 90vw; 
}