.w3-dropdown-content.w3-card-4 {
  z-index: 1000;
}

.w3-container-fluid {
    position: absolute;
    width: 100vw;
}
header.w3-bar {
  margin: 0px; justify-content: right; z-index: 2; overflow: visible;
}
.w3-modal {
  padding-top: 1vh;
}
.w3-modal-content.w3-card-4.w3-animate-zoom {
 max-width: 90vw; min-width: 400px; margin: 0 auto;
}
.w3-modal-content {
  max-width: 90vw; 
}

/* Remove box shadow from large buttons */
.w3-button.w3-large {
  box-shadow: none !important;
}
ul.user-skill-list {
    display: grid;
    gap: 1vh 1vw;
    grid-template-rows: 50 50px;
    grid-template-columns: 33% 33% 33%;
    padding: 0 1vw;
    margin: 1vh 0;
    list-style: none;
  }

  ul.user-skill-list li input {
    width: 10vw;
    min-width: 5vw;
    margin:0 0.5rem 0 0;
    vertical-align: middle;
    line-height: normal;
  }